:root {
    --surface: #ECF3FF;

    --primary-container: #BBD6FF;
    --on-primary-container: #001A41;

    --background: #F9FBFF;
    --on-background: #1E1F22;

    --opacity-25: rgba(152, 179, 231, 0.25);
    --opacity-18: rgba(152, 179, 231, 0.18);

    --error: #B82222;
    --on-error: #FFFFFF;

    --primary: #2360BC;
    --on-primary: #FFFFFF;

    --neutral: #DBE0E8;
    --on-neutral: #505760;
}