* {
	padding: 0px;
	margin: 0px;
}

.you-title-small {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.you-headline-small {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}

.you-title-medium {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}